:root {
  --primari-white-color: #ffffff;
  --accent-text-color: #d41443;
  --primary-text-color: #ffffff;
  --secondary-text-color: #ffa5ba;
  --extra-text-color: #907e82;
  --text-color: #000000;
  --bg-hero: #ffb8ca;
  --bg-circle: #ffa5ba;
  --bg-second: #fff5f6;
  --bg-comment: #fff5f6;
  --bg-menu: #e17992;
  --bg-menu-content: #e18298;
  --btn-hover: #f0f0f0;
  --btn-hover-accent: #c7133e;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

// $primari-font: Roboto, sans-serif;
// $secondary-font: Roboto, sans-serif;
// $logo-font: Homemade Apple, serif;

// $font-title: 32px;
// $font-paragraph: 20px;
// $font-small: 18px;

$mobile: 480px;
$max-mob: 767px;
$tablet: 768px;
$max-tab: 1199px;
$desktop: 1200px;

// !!svg-name!!
// right-arrow-tale
// burger
// close
// facebook
// github
// right-arrow
// telegram
// facebook1
