<div class="backdrop-loc">
  <div class="modal-loc">
    <button type="button" class="modal-loc__сlose-btn" data-modal-close>
      <svg class="modal-loc__close-icon">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>
    <h2 class="modal-loc__title">We are here</h2>

    <div class="modal-loc__map">
      
        <iframe class="map" src="https://www.google.com/maps/d/embed?mid=1SUmkAATNaHlN33Zk_37F6qiQm9c7fR8&ehbc=2E312F"></iframe>
      </iframe>
    </div>
  </div>
</div>