<div
  id="headerBuyNowMenu"
  class="backdrop-form modal-buy__close is-hidden"
  data-modal="fr"
>
  <div class="modal modal-fr">
    <h2 class="modal-fr__title">
      If you want to cooperate with us, read conditions below
    </h2>
    <p class="modal-fr__conditions">
      Our café appeared in 2018, in 2022 there are 200 ice-cream cafes in New
      York, another 8 major American cities. The company is engaged in the
      preparation of natural ice cream and expands the network of cafes. The
      main way of development of the retail network is One Price ICE CREAM
      franchise. Franchising is a commercial concession, a relationship format
      where one party gives the other party the right to use a trademark. The
      transaction is formalized by a contract, where all the conditions and the
      amount of the use fee are indicated. In the event that the franchisor is
      also a supplier of any goods or services, the parties sign another
      contract - the purchase and sale or provision of services. Our
      responsibilities to you: The franchisor takes a fee. With this money, he
      undertakes to provide assistance and support to his partner: <br />
      -develops a design project; <br />
      -provides advice on various aspects of the activity; <br />
      -trains the partner's employees; <br />
      -provides branded service standards and recipes; <br />
      -gives access to the control system; <br />
      -provides advertising materials; <br />
      -conducts promotion activities. <br />
      -The franchisor actually gives advice and provides materials. Practical
      work on opening the point and ensuring its functioning remains with the
      franchisee. The owner of the trademark does not interfere in the economic
      activities of his partner, but controls sales, fulfillment of service
      standards and sets sales plans. Pros of working with us: -quick start;
      -access to the business model; -training; -consultations; -ready-made
      design project; -experience of promotion; -delivery of high-quality goods.
      If you are interested in learning more about the terms of cooperation, you
      can apply and our manager will contact you, will be happy to answer your
      questions
    </p>
    <div class="modal-fr__btn-wrap">
      <button class="btn modal-fr__btn" type="button">Leave a request</button>
      <button class="btn modal-fr__btn modal-buy__btn-close-form" type="button">Close</button>
    </div>
  </div>
</div>
