<div class="backdrop modal-buy__close is-hidden" data-modal="buy">
  <div class="modal modal-buy">
    <button type="button" class="modal-buy__btn-close modal-buy__btn-close-one">
      <svg class="modal-buy__btn-close-icon">
        <use href="/src/images/sprite.svg#close"></use>
      </svg>
       <button type="button" class="modal-buy__btn-close modal-buy__btn-close-duo">
      <svg class="modal-buy__btn-close-icon">
        <use href="/src/images/sprite.svg#close"></use>
      </svg>
    </button>
    <h2 class="modal-buy__title">MAKE YOUR CHOICE</h2>
    <form>
      <div class="modal-buy__wrap modal-buy__wrap--center">
        <input
          class="modal-buy__input"
          type="radio"
          id="ice-cream"
          name="type"
          value="ice-cream"
        />
        <label
          class="modal-buy__label modal-buy__label--product"
          for="ice-cream"
          >Ice cream</label
        >
        <input
          class="modal-buy__input"
          type="radio"
          id="ice-coffee"
          name="type"
          value="ice-coffee"
        />
        <label
          class="modal-buy__label modal-buy__label--product"
          for="ice-coffee"
          >Ice coffee</label
        >
        <input
          class="modal-buy__input"
          type="radio"
          id="milkshake"
          name="type"
          value="milkshake"
        />
        <label
          class="modal-buy__label modal-buy__label--product"
          for="milkshake"
          >Milkshake</label
        >
      </div>
      <div class="modal-buy__wrap">
        <p class="modal-buy__text">Size:</p>
        <input
          class="modal-buy__input"
          type="radio"
          id="small"
          name="size"
          value="small"
        />
        <label class="modal-buy__label" for="small">Small</label>
        <input
          class="modal-buy__input"
          type="radio"
          id="medium"
          name="size"
          value="medium"
        />
        <label class="modal-buy__label" for="medium">Medium</label>
        <input
          class="modal-buy__input"
          type="radio"
          id="large"
          name="size"
          value="large"
        />
        <label class="modal-buy__label" for="large">Large</label>
      </div>
      <div class="modal-buy__wrap">
        <p class="modal-buy__text">Flavour:</p>
        <select class="modal-buy__select" name="flavour" required>
          <option value="" selected>Select a flavour</option>
          <option value="Chocolate">Chocolate</option>
          <option value="Vanilla">Vanilla</option>
          <option value="Strawberry">Strawberry</option>
          <option value="Mint">Mint</option>
          <option value="Frutti Tutti">Frutti Tutti</option>
          <option value="Pistachio">Pistachio</option>
          <option value="Lemon">Lemon</option>
          <option value="Mango">Mango</option>
          <option value="Blue-moon">Blue Moon</option>
          <option value="Bubblegum">Bubblegum</option>
        </select>
      </div>
      <div class="modal-buy__wrap">
        <p class="modal-buy__text">Topping:</p>
        <input
          class="modal-buy__input"
          type="radio"
          id="mint"
          name="topping"
          value="mint"
        />
        <label class="modal-buy__label" for="mint">Mint</label>
        <input
          class="modal-buy__input"
          type="radio"
          id="nutty"
          name="topping"
          value="nutty"
        />
        <label class="modal-buy__label" for="nutty">Nutty</label>
        <input
          class="modal-buy__input"
          type="radio"
          id="berry"
          name="topping"
          value="berry"
        />
        <label class="modal-buy__label" for="berry">Berry</label>

        <input
          class="modal-buy__input"
          type="radio"
          id="caramel"
          name="topping"
          value="caramel"
        />
        <label class="modal-buy__label" for="caramel">Caramel</label>
        <input
          class="modal-buy__input"
          type="radio"
          id="choco"
          name="topping"
          value="choco"
        />
        <label class="modal-buy__label" for="choco">Choco</label>
        <input
          class="modal-buy__input"
          type="radio"
          id="coconut"
          name="topping"
          value="coconut"
        />
        <label class="modal-buy__label" for="coconut">Coconut</label>
        <input
          class="modal-buy__input"
          type="radio"
          id="vanilla"
          name="topping"
          value="vanilla"
        />
        <label class="modal-buy__label" for="vanilla">Vanilla</label>
      </div>
      <div class="modal-buy__field">
        <input
          class="modal-buy__field-input"
          type="text"
          name="username"
          placeholder="Name"
          required
        />
        <input
          class="modal-buy__field-input"
          type="tel"
          name="tel"
          placeholder="Tel"
          required
        />
        <input
          class="modal-buy__field-input"
          type="email"
          name="email"
          placeholder="Email"
          required
        />
      </div>
      <textarea
        name="comments"
        id="comments"
        class="modal-buy__comments"
        placeholder="Leave your comments"
      ></textarea>

      <div class="modal-buy__checkbox-wrap">
        <input
          type="checkbox"
          class="modal-buy__checkbox-input visually-hidden"
          id="input-check"
          name="confirmation-call"
        />
        <label class="modal-buy__checkbox-label" for="input-check">
          <span class="modal-buy__checkbox-custom"> </span>
          <span> Call me back for confirmation </span></label
        >
      </div>
      <button type="submit" class="btn modal-buy__btn">Confirm order</button>
    </form>
  </div>
</div>
<!-- <div
  id="headerBuyNowMenu"
  class="backdrop modal-buy__close is-hidden"
  data-modal="fr"
>
  <div class="modal modal-fr">
    <h2 class="modal-fr__title">
      If you want to cooperate with us, read conditions below
    </h2>
    <p class="modal-fr__conditions">
      Our café appeared in 2018, in 2022 there are 200 ice-cream cafes in New
      York, another 8 major American cities. The company is engaged in the
      preparation of natural ice cream and expands the network of cafes. The
      main way of development of the retail network is One Price ICE CREAM
      franchise. Franchising is a commercial concession, a relationship format
      where one party gives the other party the right to use a trademark. The
      transaction is formalized by a contract, where all the conditions and the
      amount of the use fee are indicated. In the event that the franchisor is
      also a supplier of any goods or services, the parties sign another
      contract - the purchase and sale or provision of services. Our
      responsibilities to you: The franchisor takes a fee. With this money, he
      undertakes to provide assistance and support to his partner: <br />
      -develops a design project; <br />
      -provides advice on various aspects of the activity; <br />
      -trains the partner's employees; <br />
      -provides branded service standards and recipes; <br />
      -gives access to the control system; <br />
      -provides advertising materials; <br />
      -conducts promotion activities. <br />
      -The franchisor actually gives advice and provides materials. Practical
      work on opening the point and ensuring its functioning remains with the
      franchisee. The owner of the trademark does not interfere in the economic
      activities of his partner, but controls sales, fulfillment of service
      standards and sets sales plans. Pros of working with us: -quick start;
      -access to the business model; -training; -consultations; -ready-made
      design project; -experience of promotion; -delivery of high-quality goods.
      If you are interested in learning more about the terms of cooperation, you
      can apply and our manager will contact you, will be happy to answer your
      questions
    </p>
    <div class="modal-fr__btn-wrap">
      <button class="btn modal-fr__btn" type="button">Leave a request</button>
      <button class="btn modal-fr__btn" type="button">Close</button>
    </div>
  </div>
</div> -->
