<section class="section advantages__section">
  <div class="container advantages__container">
    <h2 class="visually-hidden"><span>Our advantages</span></h2>
    <ul class="advantages__list">
      <li class="advantages__title">
        <span class="icon icon__one"></span>
        <!-- <picture class="advantages__item item--one">
          <source
            srcset="./images/advantages/advantages1@2x-min.png"
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/advantages/advantages1-min.png"
            media="(max-width: 767px)"
          />
          <img
            src="./images/advantages/advantages1-min.png"
            alt="box"
            width="33px"
          />
        </picture> -->

        <span class="title__item">721</span>
        <p class="title__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__title">
        <span class="icon icon__two"></span>
        <!-- <picture class="advantages__item item--two">
          <source
            srcset="./images/advantages/advantages2@2x-min.png"
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/advantages/advantages2-min.png"
            media="(max-width: 767px)"
          />
          <img
            src="./images/advantages/advantages2-min.png"
            alt="box"
            width="50px"
          />
        </picture> -->
        <span class="title__item">16kg</span>
        <p class="title__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__title">
        <span class="icon icon__three"></span>
        <!-- <picture class="advantages__item item--three">
          <source
            srcset="./images/advantages/advantages3@2x-min.png"
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/advantages/advantages3-min.png"
            media="(max-width: 767px)"
          />
          <img
            src="./images/advantages/advantages3-min.png"
            alt="box"
            width="44px"
          />
        </picture> -->

        <span class="title__item">84</span>
        <p class="title__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
