<section id="advantages" class="section advantages__section">
  <div class="container">
    <h2 class="visually-hidden"><span>Our advantages</span></h2>
    <ul class="advantages__list">
      <li class="advantages__title" data-aos="zoom-in-down">
        <span class="icon icon__one"></span>
        <span class="title__item">721</span>
        <p class="title__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__title" data-aos="zoom-in-down">
        <span class="icon icon__two"></span>
        <span class="title__item">16kg</span>
        <p class="title__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__title" data-aos="zoom-in-down">
        <span class="icon icon__three"></span>
        <span class="title__item">84</span>
        <p class="title__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>