<section class="section advantages__section">
  <div class="container advantages__container">
    <ul class="advantages__list">
      <li class="advantages__title">
        <div class="advantages__item">
          <picture>
            <source
              srcset="./images/advantages/advantages1@2x-min.png"
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/advantages/advantages1-min.png"
              media="(max-width: 767px)"
            />
          </picture>
        </div>
        <span class="title__item item--one">721</span>
        <p class="title__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__title">
        <div class="advantages__item">
          <picture>
            <source
              srcset="./images/advantages/advantages2@2x-min.png"
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/advantages/advantages2-min.png"
              media="(max-width: 767px)"
            />
          </picture>
        </div>
        <span class="title__item item--two">16kg</span>
        <p class="title__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__title">
        <div class="advantages__item">
          <picture>
            <source
              srcset="./images/advantages/advantages3@2x-min.png"
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/advantages/advantages3-min.png"
              media="(max-width: 767px)"
            />
          </picture>
        </div>
        <span class="title__item item--three">84</span>
        <p class="title__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
