<section id="contacts" class="section section__contact section--mob">
  <div class="container container__contact">
    <h2 class="visually-hidden section__title">Наші контакти</h2>
    <ul class="card">
      <li class="card__item" data-aos="zoom-in">
        <p class="card__location">CAFE</p>
        <p class="card__city-text">Chicago</p>
        <p class="card__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="schedule">
          <li class="schedule__item">
            <p class="schedule__data-text">Monday - Friday</p>
            <p class="schedule__time-text">06:00 AM - 10:00 PM</p>
          </li>
          <li class="schedule__item">
            <p class="schedule__data-text">Saturday - Sunday</p>
            <p class="schedule__time-text">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="connect">
          <li class="connect__item">
            <a href="tel:+61(0)383766284" class="connect__link"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="connect__item">
            <a href="mail:noreply@envato.com" class="connect__link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>

      <li class="card__item" data-aos="zoom-in">
        <p class="card__location card__location--background">FOOD TRUCK</p>
        <p class="card__city-text">Los Angeles</p>
        <p class="card__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="schedule">
          <li class="schedule__item">
            <p class="schedule__data-text">Monday - Friday</p>
            <p class="schedule__time-text">06:00 AM - 10:00 PM</p>
          </li>
          <li class="schedule__item">
            <p class="schedule__data-text">Saturday - Sunday</p>
            <p class="schedule__time-text">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="connect">
          <li class="connect__item">
            <a href="tel:+61(0)383766284" class="connect__link"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="connect__item">
            <a href="mail:noreply@envato.com" class="connect__link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>

      <li class="card__item" data-aos="zoom-in">
        <p class="card__location">CAFE</p>
        <p class="card__city-text">New York</p>
        <p class="card__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="schedule">
          <li class="schedule__item">
            <p class="schedule__data-text">Monday - Friday</p>
            <p class="schedule__time-text">06:00 AM - 10:00 PM</p>
          </li>
          <li class="schedule__item">
            <p class="schedule__data-text">Saturday - Sunday</p>
            <p class="schedule__time-text">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="connect">
          <li class="connect__item">
            <a href="tel:+61(0)383766284" class="connect__link"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="connect__item">
            <a href="mail:noreply@envato.com" class="connect__link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <div class="contact-button">
      <button type="button" class="btn contact-button__btn--first contact-button__btn--locat" data-aos="zoom-in">
        Our Locations
        <svg class="contact-icon-first" width="10" height="15">
          <use href="/src/images/sprite.svg#right-arrow"></use>
        </svg>
      </button>
      <button type="button" class="btn contact-button__btn--second" data-aos="zoom-in">
        Franchise
        <svg class="contact-icon-second" width="10" height="15">
          <use href="/src/images/sprite.svg#right-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
