<section class="contact">
  <h2 class="visually-hidden">Наші контакти</h2>
  <ul class="card">
    <li class="card--item">
      <p class="card--location-text">CAFE</p>
      <p class="card--city-text">Chicago</p>
      <p class="card--text">
        Fusce ut velit laoreet, tempus arcu molestie vulputate
      </p>
      <ul class="schedule">
        <li class="schedule--item">
          <p class="schedule--data-text">Monday - Friday</p>
          <p class="schedule--time-text">06:00 AM - 10:00 PM</p>
        </li>
        <li class="schedule--item">
          <p class="schedule--data-text">Saturday - Sunday</p>
          <p class="schedule--time-text">08:00 AM - 16:00 PM</p>
        </li>
      </ul>
      <ul class="connect">
        <li class="connect--item">
          <a href="tel:+61(0)383766284" class="connect--link"
            >+61(0) 383 766 284</a
          >
        </li>
        <li class="connect--item">
          <a href="mail:noreply@envato.com" class="connect--link"
            >noreply@envato.com</a
          >
        </li>
      </ul>
    </li>

    <li class="card--item">
      <p class="card--location-text card--location-text__two">FOOD TRUCK</p>
      <p class="card--city-text">Los Angeles</p>
      <p class="card--text">
        Fusce ut velit laoreet, tempus arcu molestie vulputate
      </p>
      <ul class="schedule">
        <li class="schedule--item">
          <p class="schedule--data-text">Monday - Friday</p>
          <p class="schedule--time-text">06:00 AM - 10:00 PM</p>
        </li>
        <li class="schedule--item">
          <p class="schedule--data-text">Saturday - Sunday</p>
          <p class="schedule--time-text">08:00 AM - 16:00 PM</p>
        </li>
      </ul>
      <ul class="connect">
        <li class="connect--item">
          <a href="tel:+61(0)383766284" class="connect--link"
            >+61(0) 383 766 284</a
          >
        </li>
        <li class="connect--item">
          <a href="mail:noreply@envato.com" class="connect--link"
            >noreply@envato.com</a
          >
        </li>
      </ul>
    </li>

    <li class="card--item">
      <p class="card--location-text">CAFE</p>
      <p class="card--city-text">New York</p>
      <p class="card--text">
        Fusce ut velit laoreet, tempus arcu molestie vulputate
      </p>
      <ul class="schedule">
        <li class="schedule--item">
          <p class="schedule--data-text">Monday - Friday</p>
          <p class="schedule--time-text">06:00 AM - 10:00 PM</p>
        </li>
        <li class="schedule--item">
          <p class="schedule--data-text">Saturday - Sunday</p>
          <p class="schedule--time-text">08:00 AM - 16:00 PM</p>
        </li>
      </ul>
      <ul class="connect">
        <li class="connect--item">
          <a href="tel:+61(0)383766284" class="connect--link"
            >+61(0) 383 766 284</a
          >
        </li>
        <li class="connect--item">
          <a href="mail:noreply@envato.com" class="connect--link"
            >noreply@envato.com</a
          >
        </li>
      </ul>
    </li>
  </ul>
  <div class="contact-button">
    <button
      type="button"
      class="contact-button--btn contact-button--btn__first"
    >
      Our Locations
    </button>
    <button
      type="button"
      class="contact-button--btn contact-button--btn__second"
    >
      Franchise
    </button>
  </div>
</section>
