<section class="section">
  <div class="container">
    <h2 class="visually-hidden section__title">Customer Review</h2>
    <div class="swiper" data-aos="flip-left"
     data-aos-easing="ease-out-cubic"
     data-aos-duration="2000">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <article class="customer-review">
            <picture>
              <source
                srcset="
                  ./images/testimonials/testimonials1-desk-min.png    1x,
                  ./images/testimonials/testimonials1-desk@2x-min.png 2x
                "
              />
              <img
                src="./images/testimonials/testimonials1-desk-min.png"
                alt="Emily"
                class="customer-review__photo"
              />
            </picture>
            <div class="customer-review__text">
              <p class="customer-review__words">
                The ice cream tastes very tasty and rich, Ice cream gets the
                highest score from me, a very decent option, I think. Husband
                and daughter also liked it. Let's buy.
              </p>
            </div>
            <div class="circle-box">
              <span class="circle-box__item"></span>
              <span class="circle-box__item"></span>
              <span class="circle-box__item"></span>
            </div>
            <h3 class="customer-name__text">Emily, Los Angeles</h3>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="customer-review">
            <picture>
              <source
                srcset="
                  ./images/testimonials/testimonials2-desk-min.png    1x,
                  ./images/testimonials/testimonials2-desk@2x-min.png 2x
                "
              />
              <img
                src="./images/testimonials/testimonials2-desk-min.png"
                alt="Lily"
                class="customer-review__photo"
              />
            </picture>
            <div class="customer-review__text">
              <p class="customer-review__words">
                The consistency of the ice cream is homogeneous, no ice cubes,
                no splashes or grains. The color is not pure white, a little
                yellowish. It tastes sweet, but not too sweet. I really liked it
                and I will definitely buy more.
              </p>
            </div>
            <div class="circle-box">
              <span class="circle-box__item"></span>
              <span class="circle-box__item"></span>
              <span class="circle-box__item"></span>
            </div>
            <h3 class="customer-name__text">Lily, New Jersey</h3>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="customer-review">
            <picture>
              <source
                srcset="
                  ./images/testimonials/testimonials3-desk-min.png    1x,
                  ./images/testimonials/testimonials3-desk@2x-min.png 2x
                "
              />
              <img
                src="./images/testimonials/testimonials3-desk-min.png"
                alt="Olivia"
                class="customer-review__photo"
              />
            </picture>
            <div class="customer-review__text">
              <p class="customer-review__words">
                Personally, I really like passion fruit ice cream. Cream ice
                cream with double glaze - passion fruit stew and top layer -
                milk chocolate. Ice cream has a rich creamy taste.My daughter
                and I liked the ice cream.
              </p>
            </div>
            <div class="circle-box">
              <span class="circle-box__item"></span>
              <span class="circle-box__item"></span>
              <span class="circle-box__item"></span>
            </div>
            <h3 class="customer-name__text">Olivia, Colorado</h3>
          </article>
        </div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>

