<footer class="page-footer">
    <div class="container">
        <div>
        <div class="page-footer_logo">
        <a class="page-footer__text" href="./index.html">homemade ice cream made
            <p class="page-footer__text-next1">with</p>
            <p class="page-footer__text-next">passion</p>
        </a>
        </div>
        <div class="page-footer_social">
            <ul class="footer_list">
                <li class="item-icon">
                  <a class="footer-link" href="">
                  <svg class="github" width="18.82" height="18.82">
                    <use href="./images/sprite.svg#github"></use>
                  </svg>
                  </a>
                </li>
                <li class="item-icon">
                  <a class="footer-link" href="">
                  <svg class="telegram" width="18.82" height="18.82">
                    <use href="./images/sprite.svg#telegram"></use>
                  </svg>
                  </a>
                </li>
                <li class="item-icon">
                  <a class="footer-link" href="">
                  <svg class="facebook" width="18.82" height="18.82">
                    <use href="./images/sprite.svg#facebook"></use>
                  </svg>
                  </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer_contacts">
        <a class="footer__tel" href="tel:+610383766284">Feel free to contact<span class="tel">+61 (0) 383 766 284</span></a>
    </div>
    <div class="footer_end">
    <p class="footer_end-text">&copy; 2022 - IceCream. All Rights Reserved.</p>
</div>
</div>
</footer>