<footer class="footer">
  <div class="container footer__container">
    <div class="footer-contact">
      <div class="footer-logo">
        <p class="footer-logo__title" data-aos="zoom-in">
          <span class="footer-logo__first-title">homemade ice cream made</span>
          <span class="footer-logo__second-title">WITH PASSION</span>
        </p>
      </div>
      <div class="footer__social" data-aos="zoom-in">
        <ul class="footer__list">
          <li class="footer__item">
            <a
              class="footer__link"
              href="https://github.com/"
              target="_blank"
              rel="noreferrer noopener nofollow"
            >
              <svg class="footer__icon" width="18.82" height="18.82">
                <use href="./images/sprite.svg#github"></use>
              </svg>
            </a>
          </li>
          <li class="footer__item">
            <a
              class="footer__link"
              href="https://web.telegram.org/"
              target="_blank"
              rel="noreferrer noopener nofollow"
            >
              <svg class="footer__icon" width="18.82" height="18.82">
                <use href="./images/sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li class="footer__item">
            <a
              class="footer__link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noreferrer noopener nofollow"
            >
              <svg class="footer__icon" width="18.82" height="18.82">
                <use href="./images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <a class="footer__contact" href="tel:+610383766284">
          <span class="footer__text">free to contact</span>
          <span class="footer__tel">+61 (0) 383 766 284</span></a
        >
      </div>
    </div>
    <div class="footer__cooperative">
      <p class="footer__cooperative-text">
        &copy; 2022 - IceCream. All Rights Reserved.
      </p>
    </div>
  </div>
</footer>
