<section class="gallery ">
    <h2 class="visually-hidden section__title">Gallery</h2>
    <div class="container">
        <ul class="gallery__list">
            <li class="gallery__item">
                <div class="photo-box ">
                    <picture>
                        <source
                            srcset="./images/gallery/gallery-desk/gallery-1.png 1x, ./images/gallery/gallery-desk/gallery-desk-1@2x.png 2x"
                            media="(min-width: 1200px)">
                        <source
                            srcset="./images/gallery/gall-tab/gallery-tab-1.png 1x, ./images/gallery/gall-tab/gallery-tab-1@2x.png 2x"
                            media="(min-width: 768px)">
                        <source
                            srcset="./images/gallery/gall-mob/gallery-mob-1.png 1x, ./images/gallery/gall-mob/gallery-mob-1@2x.png 2x"
                            media="(max-width: 767px)">
                        <img data-aos="zoom-in" src="./images/gallery/gall-mob/gallery-mob-1.png" alt="photo1" class="photo-box__image">
                    </picture>
                </div>
            </li>
            <li class="gallery__item">
                <div class="photo-box  ">
                    <picture>
                        <source
                            srcset="./images/gallery/gallery-desk/gallery-2.png 1x, ./images/gallery/gallery-desk/gallery-desk-2@2x.png 2x"
                            media="(min-width: 1200px)">
                        <source
                            srcset="./images/gallery/gall-tab/gallery-tab-2.png 1x, ./images/gallery/gall-tab/gallery-tab-2@2x.png  2x"
                            media="(min-width: 768px)">
                        <source
                            srcset="./images/gallery/gall-mob/gallery-mob-2.png 1x, ./images/gallery/gall-mob/gallery-mob-2@2x.png 2x"
                            media="(max-width: 767px)">
                        <img data-aos="zoom-in" src="./images/gallery/gall-mob/gallery-mob-2.png" alt="photo3" class="photo-box__image">
                    </picture>
                </div>
            </li>
            <li class="gallery__item">
                <div class="photo-box">
                    <picture>
                        <source
                            srcset="./images/gallery/gallery-desk/gallery-3.png 1x, ./images/gallery/gallery-desk/gallery-desk-3@2x.png 2x"
                            media="(min-width: 1200px)">
                        <source
                            srcset="./images/gallery/gall-tab/gallery-tab-3.png 1x, ./images/gallery/gall-tab/gallery-tab-3@2x.png 2x"
                            media="(min-width: 768px)">
                        <source
                            srcset="./images/gallery/gall-mob/gallery-mob-3.png 1x, ./images/gallery/gall-mob/gallery-mob-3@2x.png 2x"
                            media="(max-width: 767px)">
                        <img data-aos="zoom-in" src="./images/gallery/gall-mob/gallery-mob-3.png" alt="photo3" class="photo-box__image">
                    </picture>
                </div>
            </li>
            <li class="gallery__item">
                <div class="photo-box ">
                    <picture>
                        <source
                            srcset="./images/gallery/gallery-desk/gallery-4.png 1x, ./images/gallery/gallery-desk/gallery-desk-4@2x.png 2x"
                            media="(min-width: 1200px)">
                        <source
                            srcset="./images/gallery/gall-tab/gallery-tab-4.png 1x, ./images/gallery/gall-tab/gallery-tab-4@2x.png 2x"
                            media="(min-width: 768px)">
                        <source
                            srcset="./images/gallery/gall-mob/gallery-mob-4.png 1x, ./images/gallery/gall-mob/gallery-mob-4@2x.png 2x"
                            media="(max-width: 767px)">
                        <img data-aos="zoom-in" src="./images/gallery/gall-mob/gallery-mob-4.png" alt="photo4" class="photo-box__image">
                    </picture>
                </div>
            </li>
            <li class="gallery__item">
                <div class="photo-box ">
                    <picture>
                        <source
                            srcset="./images/gallery/gallery-desk/gallery-5.png 1x, ./images/gallery/gallery-desk/gallery-desk-5@2x.png 2x"
                            media="(min-width: 1200px)">
                        <source
                            srcset="./images/gallery/gall-tab/gallery-tab-5.png 1x, ./images/gallery/gall-tab/gallery-tab-5@2x.png 2x"
                            media="(min-width: 768px)">
                        <source
                            srcset="./images/gallery/gall-mob/gallery-mob-5.png 1x, ./images/gallery/gall-mob/gallery-mob-5@2x.png 2x"
                            media="(max-width: 767px)">
                        <img data-aos="zoom-in" src="./images/gallery/gall-mob/gallery-mob-5.png" alt="photo5" class="photo-box__image">
                    </picture>
                </div>
            </li>
            <li class="gallery__item">
                <div class="photo-box">
                    <picture>
                        <source
                            srcset="./images/gallery/gallery-desk/gallery-6.png 1x, ./images/gallery/gallery-desk/gallery-desk-6@2x.png 2x"
                            media="(min-width: 1200px)">
                        <source
                            srcset="./images/gallery/gall-tab/gallery-tab-6.png 1x, ./images/gallery/gall-tab/gallery-tab-6@2x.png 2x"
                            media="(min-width: 768px)">
                        <source
                            srcset="./images/gallery/gall-mob/gallery-mob-6.png 1x, ./images/gallery/gall-mob/gallery-mob-6@2x.png 2x"
                            media="(max-width: 767px)">
                        <img data-aos="zoom-in" src="./images/gallery/gall-mob/gallery-mob-6.png" alt="photo6" class="photo-box__image">
                    </picture>
                </div>
            </li>
            <li class="gallery__item">
                <div class="photo-box ">
                    <picture>
                        <source
                            srcset="./images/gallery/gallery-desk/gallery-7.png 1x, ./images/gallery/gallery-desk/gallery-desk-7@2x.png 2x"
                            media="(min-width: 1200px)">
                        <source
                            srcset="./images/gallery/gall-tab/gallery-tab-7.png 1x, ./images/gallery/gall-tab/gallery-tab-7@2x.png 2x"
                            media="(min-width: 768px)">
                        <source
                            srcset="./images/gallery/gall-mob/gallery-mob-7.png 1x, ./images/gallery/gall-mob/gallery-mob-7@2x.png 2x"
                            media="(max-width: 767px)">
                        <img data-aos="zoom-in" src="./images/gallery/gall-mob/gallery-mob-7.png" alt="photo7" class="photo-box__image">
                    </picture>
                </div>
            </li>
            <li class="gallery__item">
                <div class="photo-box">
                    <picture>
                        <source
                            srcset="./images/gallery/gallery-desk/gallery-8.png 1x, ./images/gallery/gallery-desk/gallery-desk-8@2x.png 2x"
                            media="(min-width: 1200px)">
                        <source
                            srcset="./images/gallery/gall-tab/gallery-tab-8.png 1x, ./images/gallery/gall-tab/gallery-tab-8@2x.png 2x"
                            media="(min-width: 768px)">
                        <source
                            srcset="./images/gallery/gall-mob/gallery-mob-8.png 1x, ./images/gallery/gall-mob/gallery-mob-8@2x.png 2x"
                            media="(max-width: 767px)">
                        <img data-aos="zoom-in" src="./images/gallery/gall-mob/gallery-mob-8.png" alt="photo8" class="photo-box__image">
                    </picture>
                </div>
            </li>
            <li class="gallery__item">
                <div class="photo-box">
                    <picture>
                        <source
                            srcset="./images/gallery/gallery-desk/gallery-9.png 1x, ./images/gallery/gallery-desk/gallery-desk-9@2x.png 2x"
                            media="(min-width: 1200px)">
                        <source
                            srcset="./images/gallery/gall-tab/gallery-tab-9.png 1x, ./images/gallery/gall-tab/gallery-tab-9@2x.png 2x"
                            media="(min-width: 768px)">
                        <source
                            srcset="./images/gallery/gall-mob/gallery-mob-9.png 1x, ./images/gallery/gall-mob/gallery-mob-9@2x.png 2x"
                            media="(max-width: 767px)">
                        <img data-aos="zoom-in" src="./images/gallery/gall-mob/gallery-mob-9.png" alt="photo9" class="photo-box__image">
                    </picture>
                </div>
            </li>
            <li class="gallery__item">
                <div class=" photo-box ">
                    <picture>
                        <source
                            srcset="./images/gallery/gallery-desk/gallery-10.png 1x, ./images/gallery/gallery-desk/gallery-desk-10@2x.png 2x"
                            media="(min-width: 1200px)">
                        <source
                            srcset="./images/gallery/gall-tab/gallery-tab-10.png 1x, ./images/gallery/gall-tab/gallery-tab-10@2x.png 2x"
                            media="(min-width: 768px)">
                        <source
                            srcset="./images/gallery/gall-mob/gallery-mob-10.png 1x, ./images/gallery/gall-mob/gallery-mob-10@2x.png 2x"
                            media="(max-width: 767px)">
                        <img data-aos="zoom-in" src="./images/gallery/gall-mob/gallery-mob-10.png" alt="photo10" class="photo-box__image">
                    </picture>
                </div>
            </li>
        </ul>
    </div>
</section>