<section id="products" class="products section" >
    <div class="container" >
        <p class="products__label" data-aos="zoom-in">100% natural</p>
        <h2 class="products__title" data-aos="zoom-in">products</h2>
        <ul class="prod__list">
            <li class="prod__item prod__item--cream" data-aos="flip-left">
                <h3 class="prod__title prod__title--cream">ice cream</h3>
                <p class="prod__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et. dolore magna
                    aliqua facilisis.</p>
                    <a href="" class="prod__link">
                    <svg class="prod__icon" width="15" height="15">
                        <use href="./images/sprite.svg#right-arrow-tale"></use>
                    </svg></a>
            </li>
            <li class="prod__item prod__item--coffee" data-aos="flip-left">
                <h3 class="prod__title prod__title--coffee">ice coffee</h3>
                <p class="prod__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et. dolore magna
                    aliqua facilisis.</p>
                    <a href="" class="prod__link">
                    <svg class="prod__icon" width="15" height="15">
                        <use href="./images/sprite.svg#right-arrow-tale"></use>
                    </svg></a>
            </li>
            <li class="prod__item prod__item--milk" data-aos="flip-left">
                <h3 class="prod__title prod__title--milk">milkshakes</h3>
                <p class="prod__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et. dolore magna
                    aliqua facilisis.</p>
                    <a href="" class="prod__link">
                        <svg class="prod__icon" width="15" height="15">
                            <use href="./images/sprite.svg#right-arrow-tale"></use>
                        </svg>
                    </a>
                    </li>
                </ul>
    </div>
</section>