.modal-fr {
  // display: none;
  margin-right: auto;
  margin-left: auto;
  max-width: 550px;
  background-color: var(--primari-white-color);
  border-radius: 14px;
  padding: 30px 20px;

  .backdrop.is-hidden & {
    display: block;
    // transform: scale(1.3);
  }

  @media screen and (min-width: $mobile) {
    padding: 30px 30px;
  }

  @media screen and (min-width: $tablet) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    min-width: 640px;

    .backdrop.is-hidden & {
      transform: translate(-50%, -50%) scale(1.3);
    }
  }

  @media screen and (min-width: $desktop) {
    min-width: 750px;
  }
}

.modal-fr__title {
  font-family: Titan One, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-text-color);
  margin-bottom: 14px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.modal-fr__conditions {
  padding: 20px;
  background-color: #cc93a217;
  border: 1px solid var(--accent-text-color);
  border-radius: 6px;
  overflow-y: auto;
  height: 340px;
  font-family: DM Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.76;
  letter-spacing: 0.04em;
  color: var(--text-color);
  margin-top: 0;
  margin-bottom: 20px;
}

.modal-fr__btn-wrap {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-around;
  align-items: center;

  @media screen and (max-width: 479px) {
    flex-direction: column;
  }
}

.modal-fr__btn {
  background-color: var(--accent-text-color);
  color: var(--primary-text-color);

  &:hover,
  &:focus {
    background-color: var(--btn-hover-accent);
  }
  @media screen and (max-width: 479px) {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}
