.section-bgc {
  background-color: #fff5f6;
  background-repeat: no-repeat;

  @media screen and (max-width: 767px) {
    background-image: url(/src/images/about/bg-milk-mob-left.png),
      url(/src/images/about/bg-milk-mob-right.png);
    background-size: 150px 150px, 150px 120px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(/src/images/about/bg-milk-mob-left-@2x.png),
        url(/src/images/about/bg-milk-mob-right-@2x.png);
    }
  }
  @media screen and (max-width: 379px) {
    background-position: left bottom 180px, right bottom 190px;
  }
  @media screen and (min-width: 380px) {
    background-position: left bottom 140px, right bottom 150px;
  }
  @media screen and (min-width: 480px) {
    background-position: left bottom 120px, right bottom 120px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 20px;
    padding-bottom: 80px;
  }
  @media screen and (min-width: 1200px) {
    background-image: url(/src/images/about/bg-milk-desk-left.png),
      url(/src/images/about/bg-milk-desk-right.png);
    background-repeat: no-repeat;
    background-position: left bottom 54px, right bottom -46px;
    background-size: 700px 500px, 700px 600px;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(/src/images/about/bg-milk-desk-left@2x.png),
        url(/src/images/about/bg-milk-desk-right@2x.png);
    }
  }
}
.about__text-label {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;

  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}
.about__title {
  margin-top: 15px;
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-text-color);
  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.15;
  }
  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 1.13;
    letter-spacing: 0.06em;
  }
}
.about__text-circle {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: var(--text-color);

  @media screen and (max-width: 379px) {
    max-width: 220px;
    margin-top: 40px;
  }
  @media screen and (min-width: 380px) {
    max-width: 300px;
  }
  @media screen and (min-width: 480px) {
    max-width: 400px;
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.76;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.04em;
  }
}
.about__text-second {
  margin-top: 25px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: var(--extra-text-color);
  @media screen and (max-width: 379px) {
    max-width: 220px;
  }
  @media screen and (min-width: 380px) {
    max-width: 300px;
  }
  @media screen and (min-width: 480px) {
    max-width: 400px;
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.76;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.94;
    letter-spacing: 0.04em;
    margin-top: 32px;
  }
}
.about__img {
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    margin-top: 40px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 60px;
  }
}
.about__btn {
  margin-top: 20px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--accent-text-color);
  // &:hover,
  // &:focus {
  //   background-color: #ecebeb;
  // }

  @media screen and (min-width: 768px) {
    margin-top: 40px;
  }
  @media screen and (max-width: 767px) {
    font-size: 14px;
    line-height: 18px;
  }
}
.about__icon {
  margin-left: 14px;
}
.margin {
  margin-top: 13px;
  @media screen and (min-width: 768px) {
    margin-top: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 40px;
  }
}
.about__thumb-main {
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 336px 334px;
    grid-column-gap: 32px;
  }
  @media screen and (min-width: 1200px) {
    display: grid;
    grid-template-columns: 501px 463px;
    grid-column-gap: 139px;
  }
}
.about__thumb-text {
  @media screen and (min-width: 768px) {
    margin-top: 40px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 151px;
  }
}
.about__overlay-box {
  position: relative;
  overflow: hidden;
  @media screen and (min-width: 1200px) {
    margin-left: 120px;
  }
}
.about__overlay {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fff5f6;
  width: 100%;
  height: 100%;
}

.about__text-thumb {
  position: absolute;
  width: 100%;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // padding-top: 63px;
  // padding-bottom: 63px;
  // padding-left: 24px;
  // padding-right: 24px;
  @media screen and (min-width: 768px) {
    margin-top: 40px;
    height: 100%;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 35px;
    height: auto;
  }
}

.show {
  transform: translateY(0);
  .about__text-circle {
    margin-top: 0%;
  }
}
