.section {

    @media screen and (min-width: $mobile) and (max-width: $max-mob) {
        

    }

    @media screen and (min-width: $tablet) and (max-width: $max-tab) { 
        

    }
         
    @media screen and (min-width: $desktop) {
        
    }
    
    
    
}

.advantages__list {
    position: absolute;
    display: grid;

    @media screen and (min-width: $mobile) and (max-width: $max-mob) {

    }
    
    @media screen and (min-width: $tablet) and (max-width: $max-tab) {

    }
    
    @media screen and (min-width: $desktop) {

    }
}

.title__item {
    position: absolute;
    letter-spacing: 0.04em;
    text-align: right;
    text-transform: uppercase;
    color: var(--accent-text-color);


    @media screen and (min-width: $mobile) and (max-width: $max-mob) {
        width: 98px;
        height: 56px;
        font-size: 36px;
        line-height: 1.14;
    }

    @media screen and (min-width: $tablet) and (max-width: $max-tab) {
        
        width: 147px;
        height: 56px;
        font-size: 48px;
        line-height: 1.15;
    }

  
    @media screen and (min-width: $desktop) {
        width: 147px;
        height: 65px;
        font-size: 58px;
        line-height: 1.15;
        
    }    
 }
