// .section {
//     padding-top: 40px;
//     padding-bottom: 40px;

//     @media screen and (min-width: $desktop) {
//         padding-top: 60px;
//         padding-bottom: 60px;
//     }
// }

.container {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;

    @media screen and (min-width: $mobile) {
        width: $mobile;

    }

    @media screen and (min-width: $tablet) {
        width: $tablet;
        padding-left: 32px;
        padding-right: 32px;
    }

    @media screen and (min-width: $desktop) {
        width: $desktop;
        padding-left: 16px;
        padding-right: 16px;
    }
}

.advantages__section {
    padding-top: 0;
    padding-bottom: 40px;
    

    @media screen and (min-width: $tablet) {
        padding-top: 40px;
        
    }

    @media screen and (min-width: $desktop) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.advantages__container {
    position: relative;
    background-color: #FFF5F6;
}

.advantages__list {
    position: absolute;
    display: grid;
    
    @media screen and (min-width: 320px) and (max-width: 767.99px) {
        grid-template-columns: 230px;
        grid-template-rows: 157px 158px 158px;
        grid-column-gap: 32px;
        
    }
    
    @media screen and (min-width: $tablet) and (max-width: $max-tab) {
        grid-template-columns: 175.67px 175.67px 175.67px;
        grid-template-rows: 226px;
        grid-row-gap: 4px;
    }
    
    @media screen and (min-width: $desktop) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 223px;
        grid-row-gap: 4px;
    }
}



.title__item {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    position: absolute;
    letter-spacing: 0.04em;
    text-align: right;
    margin-top: 16px;
    margin-bottom: 0;
    text-transform: uppercase;
    color: var(--accent-text-color);


    @media screen and (min-width: $mobile) and (max-width: $max-mob) {
        width: 98px;
        height: 56px;
        font-size: 36px;
        line-height: 1.14;
    }

    @media screen and (min-width: $tablet) and (max-width: $max-tab) {
        
        width: 147px;
        height: 56px;
        font-size: 48px;
        line-height: 1.15;
    }

  
    @media screen and (min-width: $desktop) {
        width: 147px;
        height: 65px;
        font-size: 58px;
        line-height: 1.15;
        
    }    
}

.title__text {
     position: absolute;
    font-family: 'DM Sans';
    font-weight: 700;
    font-style: normal;
    color: #000000;

    @media screen and (min-width: $mobile) and (max-width: $max-mob) {
       
        width: 230px;
        height: 36px;
         
        font-size: 12px;
        line-height: 1.7;
        
    }
    @media screen and (min-width: $tablet) and (max-width: $max-tab) {
       
        width: 159px;
        height: 67px;

        font-size: 14px;
        line-height: 1.74;
        
    }

  
    @media screen and (min-width: $desktop) {
        
        width: 288px;
        height: 52px;

        font-size: 16px;
        line-height: 1.76;
        letter-spacing: 0.02em;    
            
        
    }    

}

