.section__contact {
  background-color: #fff5f6;
  background-repeat: no-repeat;
  @media screen and (min-width: 1200px) {
    background-image: url(/src/images/contact/contacts-left.png),
      url(/src/images/contact/contacts-right.png),
      linear-gradient(to bottom, #ffffff 20%, #fff5f6 20%, #fff5f6 100%);
    background-repeat: no-repeat;
    background-position: left bottom 54px, right bottom -46px;
    // background-size: 640px 250px 640px 250px;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(/src/images/contact/contacts-left@2x.png),
        url(/src/images/contact/contacts-right@2x.png);
    }
  }

  @media screen and (max-width: $max-mob) {
    background-image: linear-gradient(
      to bottom,
      #ffffff 25%,
      #fff5f6 25%,
      #fff5f6 100%
    );
  }
  @media screen and (min-width: $tablet) and (max-width: $max-tab) {
    background-image: linear-gradient(
      to bottom,
      #ffffff 23%,
      #fff5f6 23%,
      #fff5f6 100%
    );
  }
}

.section--mob {
  @media screen and (max-width: $max-mob) {
    padding-bottom: 48px;
  }
}

.card {
  @media screen and (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
  }
}

.card__item {
  background-color: var(--primari-white-color);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding: 40px 32px;
  margin-bottom: 32px;
  @media screen and (min-width: 320px) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 60px;
  }
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  @media screen and (min-width: 320px) and (max-width: 479px) {
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: $mobile) and (max-width: $max-mob) {
    margin-left: auto;
    margin-right: auto;
  }
}

.card__location {
  color: var(--primary-text-color);
  background-color: #f0d1a5;
  font-weight: 500;
  letter-spacing: 0.04em;
  text-align: center;
  width: 75.1px;
  height: 28px;
  margin-bottom: 20px;
  @media screen and (min-width: 320px) and (max-width: $max-mob) {
    font-size: 12px;
    line-height: 1.83;
  }
  @media screen and (min-width: $tablet) and (max-width: $max-tab) {
    font-size: 16px;
    line-height: 1.88;
  }
  @media screen and (min-width: $desktop) {
    font-size: $font-primary;
    line-height: 1.88;
  }
}

.card__location--background {
  background-color: #c2e297;
}

.card__city-text {
  position: relative;
  color: var(--text-color);
  font-weight: 500;
  letter-spacing: 0.04em;
  margin-bottom: 8px;
  @media screen and (min-width: 320px) and (max-width: $max-mob) {
    font-size: 12px;
    line-height: 1.87;
  }
  @media screen and (min-width: $tablet) and (max-width: $max-tab) {
    font-size: 14px;
    line-height: 1.83;
  }
  @media screen and (min-width: $desktop) {
    font-size: $font-primary;
    line-height: 1.87;
  }
  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    bottom: -93px;
    border: 1px solid #e1e1e1;
    @media screen and (max-width: 319px) {
      width: 100%;
      bottom: -115px;
    }
    @media screen and (min-width: 320px) and (max-width: $max-tab) {
      width: 100%;
      bottom: -70px;
    }
    @media screen and (min-width: $tablet) and (max-width: $max-tab) {
      bottom: -100px;
    }
  }
}

.card__text {
  color: var(--extra-text-color);
  font-weight: 500;
  margin-bottom: 48px;
  @media screen and (min-width: 320px) and (max-width: $max-mob) {
    width: 240px;
    font-size: 12px;
    line-height: 1.5;
  }
  @media screen and (min-width: $tablet) and (max-width: $max-tab) {
    width: 158px;
    font-size: 14px;
    line-height: 1.64;
  }
  @media screen and (min-width: $desktop) {
    width: 243px;
    font-size: $font-primary;
    line-height: 1.81;
  }
}

.schedule__item {
  &:first-child {
    margin-bottom: 8px;
  }
  &:last-child {
    margin-bottom: 48px;
    position: relative;
  }
  &:last-child::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    bottom: -25px;
    border: 1px solid #e1e1e1;
  }
}

.schedule__data-text {
  color: var(--text-color);
  font-weight: 500;
  font-size: $font-primary;
  line-height: 1.87;
  letter-spacing: 0.04em;
  @media screen and (min-width: 320px) and (max-width: $max-mob) {
    font-size: 12px;
    line-height: 1.83;
  }
  @media screen and (min-width: $tablet) and (max-width: $max-tab) {
    font-size: 14px;
    line-height: 1.86;
  }
  @media screen and (min-width: $desktop) {
    font-size: $font-primary;
    line-height: 1.87;
  }
}

.schedule__time-text {
  color: var(--secondary-text-color);
  font-weight: 500;
  @media screen and (min-width: 320px) and (max-width: $max-mob) {
    font-size: 12px;
    line-height: 1.83;
  }
  @media screen and (min-width: $tablet) and (max-width: $max-tab) {
    font-size: 14px;
    line-height: 1.86;
  }
  @media screen and (min-width: $desktop) {
    font-size: $font-primary;
    line-height: 1.87;
  }
}

.connect__link {
  color: var(--extra-text-color);
  font-weight: 500;
  @media screen and (min-width: 320px) and (max-width: $max-mob) {
    font-size: 12px;
    line-height: 1.5;
  }
  @media screen and (min-width: $tablet) and (max-width: $max-tab) {
    font-size: 14px;
    line-height: 1.86;
  }
  @media screen and (min-width: $desktop) {
    font-size: $font-primary;
    line-height: 1.81;
  }
  &:hover,
  &:focus,
  &:active {
    color: var(--secondary-text-color);
  }
}

.contact-button {
  @media screen and (max-width: $max-mob) {
    display: block;
    width: 161px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
  }
}

.contact-button__btn--first {
  color: #ffffff;
  background-color: #d41342;
  cursor: pointer;
  transition: background-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: #c7133e;
  }

  @media screen and (max-width: $max-mob) {
    margin-bottom: 10px;
    width: 161px;
  }

  @media screen and (min-width: $tablet) and (max-width: $max-tab) {
    width: 191px;
    margin-right: 14.5px;
  }

  @media screen and (min-width: $desktop) {
    width: 198px;
    margin-right: 15px;
  }
}

.contact-button__btn--second {
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  @media screen and (max-width: $max-mob) {
    width: 161px;
  }

  @media screen and (min-width: $tablet) and (max-width: $max-tab) {
    width: 174px;
  }

  @media screen and (min-width: $desktop) {
    width: 180px;
  }
}

.contact-icon-first {
  margin-left: 13px;
  fill: #ffffff;
}

.contact-icon-second {
  margin-left: 13px;
  fill: #d41342;
}
