// .contact {
//   //   background-image: linear-gradient(
//   //     to bottom,
//   //     #ffffff 15%,
//   //     #ffa5ba 15%,
//   //     #ffa5ba 100%
//   //   );
//   //   background: linear-gradient(
//   //     180deg,
//   //     rgba(255, 255, 255, 1) 0%,
//   //     rgba(255, 214, 224, 1) 24%,
//   //     rgba(255, 214, 224, 1) 100%
//   //   );
// }
.card {
  @media screen and (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
  }
}

.card__item {
  background-color: var(--primari-white-color);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding: 40px 32px;
  margin-bottom: 20px;

  @media screen and (min-width: 320px) and (max-width: 479px) {
    margin-left: 10px;
    margin-right: 10px;
  }

  @media screen and (min-width: $mobile) and (max-width: $max-mob) {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: $tablet) and (max-width: $max-tab) {
    &:first-child {
      margin-left: 18px;
    }
    &:last-child {
      margin-right: 18px;
    }
  }

  @media screen and (min-width: $desktop) {
    &:first-child {
      margin-left: 16px;
    }
    &:last-child {
      margin-right: 16px;
    }
  }
}

.card__location {
  color: var(--primary-text-color);
  background-color: #f0d1a5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.87;
  letter-spacing: 0.04em;
  text-align: center;
  width: 75.1px;
  height: 28px;
  margin-bottom: 20px;
}

.card__location--background {
  background-color: #c2e297;
}

.card__city-text {
  color: var(--text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.04em;
  margin-bottom: 8px;
}

.card__text {
  color: var(--extra-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.81;
  margin-bottom: 24px;

  @media screen and (min-width: 320px) and (max-width: 479px) {
    width: 240px;
  }

  @media screen and (min-width: $mobile) and (max-width: $max-mob) {
    width: 179px;
  }

  @media screen and (min-width: $tablet) and (max-width: $max-tab) {
    width: 159px;
  }

  @media screen and (min-width: $desktop) {
    width: 243px;
  }
}

.schedule__item {
  &:first-child {
    margin-bottom: 8px;
  }
  &:last-child {
    margin-bottom: 24px;
  }
}

.schedule__data-text {
  color: var(--text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.04em;
}

.schedule__time-text {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
}

.connect__link {
  color: var(--extra-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.81;
}

.contact-button {
  @media screen and (max-width: $max-mob) {
    display: block;
    width: 161px;
    margin-left: auto;
    margin-right: auto;
  }

  // @media screen and (max-width: $tablet) {
  //   display: flex;
  //   margin-left: auto;
  //   margin-right: auto;
  // }
}

.contact-button__btn {
  border-radius: 22px;
  height: 44px;
}
.contact-button__btn--first {
  @media screen and (max-width: $max-mob) {
    margin-bottom: 10px;
    width: 161px;
  }

  @media screen and (min-width: $tablet) and (max-width: $max-tab) {
    width: 191px;
    margin-right: 14.5px;
  }

  @media screen and (min-width: $desktop) {
    width: 198px;
    margin-right: 15px;
  }
}

.contact-button__btn--second {
  @media screen and (max-width: $max-mob) {
    width: 161px;
  }

  @media screen and (min-width: $tablet) and (max-width: $max-tab) {
    width: 174px;
  }

  @media screen and (min-width: $desktop) {
    width: 180px;
  }
}
