.footer{
    background-color: var(--bg-second);
    position: relative;
    padding-bottom: 18px;
    @media (min-width: $tablet) {
        padding-bottom: 11px;
    }
    @media screen and (min-width: $desktop) {
        padding-top: 60px;
    }
    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 78px;
        display: block;
        width: 100%;
        height: 1px;
        background: #E1E1E1;
      @media (min-width: $tablet) {
        bottom: 42px;
      }
    }
}
.footer-container{
padding: 20px 20px 20px 20px;
@media (min-width: $tablet) {
    padding: 0px 18px 8px 18px;
}
}
.footer-logo{
    margin-bottom: 40px;
    @media (min-width: $desktop) {
        margin-bottom: 0px;
    }
}
.footer-logo__title{
    width: 234px;
    @media (min-width: $tablet) {
        width: 340px;
    }
    @media (min-width: $desktop) {
        width: 100%;
        margin-bottom: 0px;
    }
}
.footer-logo__first-title{
    display: block;
    margin-bottom: 15px;
    text-decoration: none;
    font-family: 'Titan One';
font-style: normal;
font-size: 18px;
line-height: 1.15;
text-transform: uppercase;
color: var(--secondary-text-color);
@media (min-width: $tablet) {
    font-size: 26px;
    letter-spacing: 0.04em;
}
@media (min-width: $desktop) {
    font-size: 30px;
letter-spacing: 0.04em;
}
}
.footer-logo__second-title{
    font-family: 'Titan One';
    font-size: 34px;
line-height: 1.15;
letter-spacing: 0.04em;
color: var(--accent-text-color);
@media (min-width: $tablet) {
font-size: 48px;
line-height: 1.15;
letter-spacing: 0.06em;
}
@media (min-width: $desktop) {
    font-size: 58px;
    line-height: 1.15;
    letter-spacing: 0.06em;
}
}
.footer__social{
    @media (min-width: $tablet) {
        height: 100%;
    }
    @media (min-width: $desktop) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: inherit;
    }
}
.footer__list{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    @media (max-width: 1199px){
    margin-bottom: 40px;
    }
}
.footer__item {
    width: 32px;
    height: 32px;
    
}
.footer__link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    fill: var(--primari-white-color);
    transition: background-color 250ms var(--timing-function);
    border-radius: 50%;
    border-color: #FEA5BB;
    background-color: #FEA5BB;
    &:hover {
        border-color: var(--btn-hover-accent);
        background-color: var(--btn-hover-accent);
    }
    &:focus {
        border-color: var(--btn-hover-accent);
        background-color: var(--btn-hover-accent);
    }
}
       .footer__item:not(:last-child){
        margin-right: 28.24px;
    }
    .footer__contact{
        display: block;
        font-family: 'DM Sans';
        text-align: right;
        margin-left: auto;
        text-decoration: none;
        font-weight: 700;
        font-size: 12px;
        line-height: 186%;
        color: var(--text-color);
        @media (min-width: $tablet) {
            font-size: 14px;
        }
        @media (min-width: $desktop) {
            font-size: 16px;
        }
    }
    .footer__text {
        transition: color 250ms var(--timing-function);
        color: var(--accent-text-color);
        .footer__contact:hover & {
            color: var(--secondary-text-color);
        }
        .footer__contact:focus & {
           color: var(--secondary-text-color);
        }
    }
    .footer__tel{
        transition: color 250ms var(--timing-function);
        color: var(--secondary-text-color);
        .footer__contact:hover  &{
            color: var(--btn-hover-accent);
        }
        .footer__contact:focus & {
           color: var(--btn-hover-accent);
        }
    }
    .footer__cooperative-text{
        font-family: 'DM Sans';
        padding-top: 18px;
        font-size: 14px;
        font-weight: 700;
line-height: 152%;
color: var(--extra-text-color);
text-align: center;
padding-left: 0;
padding-right: 0;
@media (min-width: $tablet) {
    padding-top: 11px;
}
    }
    .footer__cooperative{
       width: 150px;
       margin-left: auto;
       margin-right: auto;
       @media (min-width: $tablet) {
        width: 300px;
    }
    }
.footer-contact {
    margin-bottom: 40px;
    @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    }
    @media (min-width: $desktop) {
    margin-bottom: 60px;
    }
}
